body{
  overflow-x: hidden;
}


.botao-mapa{
    text-align: center;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .links {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .menu-toggle {
    display: none;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .links {
      display: none;
      flex-direction: column;
    }
  
    .menu-toggle {
      display: block;
    }
  }

.texto {
    margin-top: 3rem;
    font-size: 58px;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.texto2 {
  margin-top: 3rem;
  font-size: 58px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.fachada{
  display: flex;
  width: 100%;
}

.fachada img{
  width: 100%;
  height: auto;
  display: block;
}