.mapa-container {
    background-color: #F5F1EC;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 49;
  }
  
  .mapa {
    width: 50%;
    height: 60%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }