@import "tailwindcss";

/*Carousel*/
.slideContainer:hover div {
    opacity: 1 !important;
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  